*, body{
  font-family: "Acme" !important;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical,
div::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button,
div::-webkit-scrollbar-button:increment,
div::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal,
div::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #202020;
  border-radius: 20px;
  border: 2px solid #a3a7ac;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  border-radius: 10px;
}

body {
  /*Estilos estándar experimentales (Principalmente Firefox)*/
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

/* //paddin page */
.css-yfo96e, .css-ttn1xo {
  padding: 0 !important;
}

.styleButton:hover {
  /* background-color: rgb(231, 230, 228); */
  cursor: pointer;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.438);
}

.swal2-container {
  z-index: 100000 !important;
}

/* @media (min-width: 320) and (max-width: 768px){ 
  .imgCarousel{
    height: "300vh" !important;
  }
}

@media (min-width: 769px){ 
  .imgCarousel{
    height: "500vh" !important;
  }
} */